@model Product


<div style="display:flex;margin:40px">
    <div>
        <img src="~/images/@Model.Photo" alt="Alternate Text" style="width:450px;object-fit:cover;border-radius:10px;margin-right:40px;margin-left:40px" />
    </div>
    <div class="Text">
        <h4>@Model.Name</h4>
        <h4>@Model.Description</h4>
        <h5 style="color:cadetblue">Brand: @Model.Brand.Name</h5>
        <hr />
        <h4>$ @Model.Price</h4>
        <br />
        <a class="btn btn-warning" href="#" role="button" style="width:200px;border-radius:20px">Add To Cart</a>
    </div>
</div>

