 
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/styles/all.min.css">
    <link rel="stylesheet" href="./assets/styles/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link href="~/css/productIndex.css" rel="stylesheet" />

</head>
<body>
    <div style="display:flex;justify-content:center;align-items:center;width:100%;">
        <a asp-action="Index" asp-controller="Product" class="button_create" style="vertical-align:middle;margin-right:15px;"><span>All Products </span></a>
        <a asp-action="Index" asp-controller="Brand" class="button_create" style="vertical-align:middle"><span>All Brands </span></a>

    </div>
</body>
</html>
