@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/styles/all.min.css">
    <link rel="stylesheet" href="./assets/styles/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link href="~/css/productIndex.css" rel="stylesheet" />

</head>
<body>
    @{
        ViewData["Title"] = "Home Page";
    }
    @if (ViewBag.Loading == 1)
    {
        <div class="loading-page">
            <img src="~/images/logo-egyptlaptop-2023__1_.png" alt="">
            <div class="progress"></div>
            <div class="spinner"></div>
        </div>
    }
    
  <section class=" section_footer position-relative">
        <img class="position-absolute image" src="https://th.bing.com/th/id/OIP.DtamAZGSvUAtmfXJnopPWQHaEK?rs=1&pid=ImgDetMain" alt="">
        <div class="container d-flex justify-content-center flex-wrap align-items-center ">
            <div class="footer_text">
                <h3>Satisfy Your Cravings</h3>
                <h1>Our Laptop very fast <br> Wonderful</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum fugit <br>
                    minimaet debitis ut distinctio optio.
                </p>
                
            </div>
            <div class="footer_img position-relative">
                <img src="https://th.bing.com/th/id/OIP.DtamAZGSvUAtmfXJnopPWQHaEK?rs=1&pid=ImgDetMain" alt="">
            </div>
        </div>
    </section>
    <br />

    <script src="~/js/index.js"></script>
</body>
</html>



