@using Microsoft.AspNetCore.Identity
@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@

  @inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Register";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/styles/all.min.css">
    <link href="~/css/homeIndex.css" rel="stylesheet" />

</head>
<body>
    @{
        ViewData["Title"] = "Home Page";
    }
    @if (ViewBag.Loading == 1)
    {
        <div class="loading-page">
            <img src="~/images/logo-egyptlaptop-2023__1_.png" alt="">
            <div class="progress"></div>
            <div class="spinner"></div>
        </div>
    }

    <section style="display:flex; justify-content:center ; align-items:center">
        <div class="header w-100 text-center">
               @if (!SignInManager.IsSignedIn(User))
               {
                   <ul>
                    <li><a href="https://localhost:7280/Identity/Account/Login">Login</a></li>
                    <li><a href="https://localhost:7280/Identity/Account/Register">Register</a></li>
                   </ul>
                   
               }
            <div class="Text">
                <h2>Animated BackGround</h2>
                <p>lorem Test safdafdsa dfsgsf sdgdfsg sgsdfg s sfgdf</p>
                <!-- HTML !-->
                <a asp-action="Index" asp-controller="Product"><button style="margin-top:3rem;" class="button-92" role="button">Products</button></a>


            </div>
        </div>
   </section>

    <script src="~/js/index.js"></script>
</body>
</html>



