.form_div {
    width: 60%;
    min-height: 500px;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    border-radius: .3rem;
}
section {
    background: #EEF6EB;
}
form {
    width:60%;
}