@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="profile-form" method="post" enctype="multipart/form-data">
    <div class="row">

        <div class="col-md-6">

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" placeholder="Please enter your FirstName." />
                <label asp-for="Input.FirstName" class="form-label"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" placeholder="Please enter your LastName." />
                <label asp-for="Input.LastName" class="form-label"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.ProfilePicuture" class="w-100"></label>
                @if (Model.Input.ProfilePicuture != null)
                {
                    <img id="ProfilePicuture" alt="profile" class="profile-picture" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.ProfilePicuture))" />
                }
                else
                {
                    <img id="ProfilePicuture" alt="profile" class="profile-picture" src="~/Images/th4.jpg" />
                }
                <div class="custom-file mt-2">
                    <input type="file"
                           accept="image/*"
                           asp-for="Input.ProfilePicuture"
                           class="custom-file-input"
                           onchange="document.getElementById('ProfilePicuture').src=window.URL.createObjectURL(this.files[0])" />
                    <label class="custom-file-label" asp-for="Input.ProfilePicuture">Choose Picture...</label>
                    <span asp-validation-for="Input.ProfilePicuture" class="text-danger"></span>
                </div>
            </div>
        </div>

    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
